{{>header}}



<div class="container">
    <h1 class="mt-5">Caja</h1>

    <div class="row mt-4">
        <h3>Estado de la Caja</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Apertura</th>                    
                    <th>Total Transferencia</th>
                    <th>Ventas Efectivo</th>
                    <th>Cierre Parcial</th>
                    <th>Total Dinero en Caja</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>${{caja.apertura}}</td>                    
                    <td>${{caja.t_transferencia}}</td>
                    <td>${{caja.total_ventas_dia}}</td>
                    <td>${{caja.cierre_parcial}}</td>
                    <td>${{caja.total_final}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>












{{>footer}}