{{>header}}

<div class="container">
    <h1 class="mt-5">Caja</h1>

    <div class="row mt-4">
        <h3>Estado de la Caja Abierta</h3>
        <table class="table">
            <thead>
                <tr>
                    <th id="bg-apertura">Apertura</th>
                    <th>Ventas Transferencia</th>
                    <th id="bg-apertura">Ventas Efectivo</th>
                    <th>Retiro Transferencia</th>
                    <th id="bg-apertura">Retiro Efectivo</th>
                    <th>Total Transferencia</th>
                    <th id="bg-apertura">Total Dinero en Caja</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="bg-apertura"><strong>${{caja.abierta.apertura}}</strong></td>
                    <td>${{caja.abierta.t_transferencia}}</td>
                    <td id="bg-apertura"><strong>${{caja.abierta.total_ventas_dia}}</strong></td>
                    <td>${{caja.abierta.retiro_parcial_transferencia}}</td>
                    <td id="bg-apertura"><strong>${{caja.abierta.cierre_parcial_efectivo}}</strong></td>
                    <td>${{caja.abierta.total_transferencia}}</td>
                    <td id="bg-apertura"><strong>${{caja.abierta.total_dinero_en_caja}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-2">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#cierreParcialModal"
            {{#unless (eq userRole 'admin' )}}disabled class="disabled" {{/unless}}>
            Retiro Parcial Efectivo
        </button>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#retiroTransferenciaModal"
            {{#unless (eq userRole 'admin' )}}disabled class="disabled" {{/unless}}>
            Retiro Parcial Transferencia
        </button>

        <button type="button" class="btn btn-danger" id="cerrarCajaBtn" {{#unless (eq userRole 'admin' )}}disabled
            class="disabled" {{/unless}}>Cerrar Caja</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" id="cancel-btn">Ir a Inicio</button>
    </div>

    

    {{#each cajasCerradas}}
    <div class="row mt-4">
        <div class="table-container">
        <h3 class="text-center">Historial de Caja Cerrada ({{moment this.fecha_cierre "DD/MM/YYYY HH:mm:ss"}})</h3>
        
            <table class="table disabled table-bordered mt-1">
                <thead>
                    <tr>
                        <th>Apertura</th>
                        <th>Ventas Transferencia</th>
                        <th>Ventas Efectivo</th>
                        <th>Retiro Transferencia</th>
                        <th>Retiro Efectivo</th>                        
                        <th>Total Transferencia</th>
                        <th>Total Dinero en Caja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>${{this.apertura}}</strong></td>
                        <td><strong>${{this.t_transferencia}}</strong></td>
                        <td><strong>${{this.total_ventas_dia}}</strong></td>
                        <td><strong>${{this.retiro_parcial_transferencia}}</strong></td>
                        <td><strong>${{this.cierre_parcial_efectivo}}</strong></td>                        
                        <td><strong>${{this.total_transferencia}}</strong></td>
                        <td><strong>${{this.total_dinero_en_caja}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{/each}}


    <div class="modal fade" id="cierreParcialModal" tabindex="-1" aria-labelledby="cierreParcialModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="cierreParcialForm">
                        <div class="mb-3">
                            <label for="cierre_parcial" class="form-label">Cierre Parcial</label>
                            <input type="number" class="form-control" id="cierre_parcial" name="cierre_parcial"
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary">Procesar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="retiroTransferenciaModal" tabindex="-1" aria-labelledby="retiroTransferenciaModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="retiroTransferenciaForm">
                        <div class="mb-3">
                            <label for="retiro_transferencia" class="form-label">Retiro Parcial Transferencia</label>
                            <input type="number" class="form-control" id="retiro_transferencia"
                                name="retiro_transferencia" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Procesar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>

<script>
    document.getElementById('cancel-btn').addEventListener('click', function () {
        window.history.back();
    });

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('cierreParcialForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const cierreParcial = document.getElementById('cierre_parcial').value;

            const formData = {
                cierre_parcial: cierreParcial
            };

            const response = await fetch('/procesarCierreParcial', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                alert('Cierre parcial procesado correctamente.');
                location.reload();
            } else {
                alert('El cierre parcial no puede dejar la caja en negativo');
            }
        });

        document.getElementById('retiroTransferenciaForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const retiroTransferencia = document.getElementById('retiro_transferencia').value;

            const formData = {
                retiro_transferencia: retiroTransferencia
            };

            const response = await fetch('/procesarRetiroTransferencia', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                alert('Retiro parcial transferencia procesado correctamente.');
                location.reload();
            } else {
                alert('El retiro parcial de transferencia no puede dejar Total Transferencia en negativo');
            }
        });

        document.getElementById('cerrarCajaBtn').addEventListener('click', async function () {
            const response = await fetch('/cerrarCaja', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                alert('Caja cerrada correctamente.');
                window.location.href = '/caja'; 
            } else {
                alert('Error al cerrar la caja.');
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="footer">
    {{> footer}}
</div>