{{> header}}

<div class="container" id="products">
    <h1 class="text-center mt-5">Listado de Productos</h1>
    <div class="row mb-3 justify-content-center mt-5">
        <div class="col-md-4">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar producto por descripción">
        </div>
        <div class="col-md-2">
            <button id="searchButton" class="btn btn-primary">Buscar</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Código de Barras</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Costo</th>
                <th>Precio de Venta</th>
                <th>Fecha de Creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="productsTableBody">
            {{#each products}}
            <tr id="product-{{this.cod_barra}}">
                <td>{{this.cod_barra}}</td>
                <td>{{this.descripcion}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.costo}}</td>
                <td>{{this.precio_venta}}</td>
                <td>{{this.fecha}}</td>
                <td>
                    <a href="/products/{{this.cod_barra}}/edit" class="btn btn-info">Editar</a>
                    <button onclick="deleteProduct('{{this.cod_barra}}')" class="btn btn-danger">Eliminar</button>
                    <a href="/productHistory/{{this.cod_barra}}" class="btn btn-warning">Historial de Producto</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<a href="/newProduct" class="btn btn-success">Crear Nuevo Producto</a>
<div>
    <a href="/sales" class="btn btn-success">Ir a Ventas</a>
    <a href="/admin/home" class="btn btn-danger"> <img src="/icons/cancelar.png" alt=""> Atrás</a>
</div>
<script>
    async function deleteProduct(codigoDeBarras) {
        if (confirm('¿Estás seguro de que deseas eliminar este producto?')) {
            try {
                const response = await fetch(`/products/${codigoDeBarras}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (response.ok) {
                    document.getElementById(`product-${codigoDeBarras}`).remove();
                } else {
                    alert('Error al eliminar el producto');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Error al eliminar el producto');
            }
        }
    }

    document.getElementById('searchButton').addEventListener('click', async function () {
        const searchQuery = document.getElementById('searchInput').value;
        try {
            const response = await fetch(`/products/search?descripcion=${searchQuery}`);
            if (response.ok) {
                const products = await response.json();
                const tableBody = document.getElementById('productsTableBody');
                tableBody.innerHTML = ''; // Limpiar la tabla existente
                products.forEach(product => {
                    const row = `
                        <tr id="product-${product.cod_barra}">
                            <td>${product.cod_barra}</td>
                            <td>${product.descripcion}</td>
                            <td>${product.stock}</td>
                            <td>${product.costo}</td>
                            <td>${product.precio_venta}</td>
                            <td>${product.fecha}</td>
                            <td>
                                <a href="/products/${product.cod_barra}/edit" class="btn btn-info">Editar</a>
                                <button onclick="deleteProduct('${product.cod_barra}')" class="btn btn-danger">Eliminar</button>
                            </td>
                        </tr>
                    `;
                    tableBody.innerHTML += row;
                });
            } else {
                alert('Error al buscar los productos');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Error al buscar los productos');
        }
    });
</script>

{{>footer}}