{{>header}}

<div class="container">
    <h1 class="mt-5">Consultar Ventas</h1>
    <table class="table table-striped mt-3">
        <thead class="table-success">
            <tr>
                <th>N° Fact</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Total</th>
                <th>Fecha</th>
                <th>Vendedor</th>
                <th>Pago</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each ventas}}
            <tr>
                <td>{{fac_num}}</td>
                <td>{{cantidad}}</td>
                <td>{{descripcion}}</td>
                <td>{{total}}</td>
                <td>{{f_factura}}</td>
                <td>{{vendedor}}</td>
                <td>{{tipo_pago}}</td>
                <td>
                    <form class="anular-venta-form" action="/sales/anular" method="POST">
                        <input type="hidden" name="fac_num" value="{{fac_num}}">
                        {{#if (gt (divide (subtract (now) (date f_factura 'x')) 3600000) 24)}}
                        <button type="submit" class="btn btn-danger" disabled>Venta Expirada</button>
                        {{else}}
                        <button type="submit" class="btn btn-danger">Anular Venta</button>
                        {{/if}}
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="volver">
        <a href="/sales" class="btn btn-primary">Ir a Ventas</a>
        <a href="/admin/home" class="btn btn-warning">Ir a Inicio</a>
    </div>
</div>

<script>
    document.querySelectorAll('.anular-venta-form').forEach(form => {
        form.addEventListener('submit', function (event) {
            if (!confirm('¿Estás seguro que deseas anular la venta?')) {
                event.preventDefault();
            }
        });
    });
</script>



<style>
    .volver {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 150px;
    }
</style>


{{>footer}}


